.button {
  @include reset-btn;
  width: 100%;
  height: 81px;
  background-image: linear-gradient(to top, #f2cf30, #f1c82f, #f6df54, #f2eba3);
  box-shadow: 0px 4px 0px #b89820;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;

  &:hover {
    background-image: none;
    background-color: #f2cf30;
  }

  &:active {
    box-shadow: none;
    position: relative;
    top: 4px;
    outline: none;
  }

  &:focus {
    outline: none;
  }

  &_modal-form {
    margin-bottom: 26px;
  }

  &_thanks {
    @include max-width(350px);
  }

  &_plan {
    @include max-width(351px);
    margin-left: auto;
    margin-right: auto;
  }

  &_present {
    @include max-width(351px);
    margin-left: auto;
    margin-right: auto;
    display: none;

    @media (max-width: 575px) {
      display: block;
      margin-bottom: 25px;
    }
  }

  &::after {
    content: '';
    margin-left: 60px;
    width: 25px;
    height: 300px;
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#fff),
      to(hsla(0, 0%, 100%, 0.01))
    );
    background: linear-gradient(0deg, #fff, hsla(0, 0%, 100%, 0.01));
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
    position: absolute;
    left: -90px;
    top: -150px;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-animation-name: slideme;
    animation-name: slideme;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 0;
  }

  @-webkit-keyframes slideme {
    0% {
      left: -30px;
      margin-left: 0;
    }

    30%,
    to {
      left: 110%;
      margin-left: 80px;
    }
  }

  @keyframes slideme {
    0% {
      left: -30px;
      margin-left: 0;
    }

    30%,
    to {
      left: 110%;
      margin-left: 80px;
    }
  }
}
