.catalog {
  padding-bottom: 127px;
}

.catalog__content {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1200px) {
    flex-direction: column;
  }
}

.catalog__title-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;

  &::after {
    content: url('/src/img/bird.png');
    position: absolute;
    top: -110px;
    right: -770px;

    @media (max-width: 1200px) {
      content: none;
    }
  }

  @media (max-width: 1200px) {
    align-items: center;
  }
}

.catalog__title {
  font-size: 38px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 27px;
  padding-right: 27px;
  background-color: #ddd355;

  &:last-child {
    position: relative;
    top: -15px;

    @media (max-width: 575px) {
      padding-top: 0;
      top: 0px;
    }
  }

  @media (max-width: 767px) {
    text-align: center;
  }

  @media (max-width: 575px) {
    font-size: 28px;
  }

  &:first-child {
    @media (max-width: 575px) {
      padding-bottom: 0;
    }
  }
}
