.footer {
  padding-top: 41px;
  padding-bottom: 43px;
  font-size: 18px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: 850px) {
    flex-direction: column;
    align-items: center;
  }
}

.footer__text-box {
  @media (max-width: 850px) {
    margin-bottom: 25px;
  }
}

.footer__company-name {
  margin-bottom: 0;
  font-size: 18px;

  @media (max-width: 850px) {
    text-align: center;
  }
}

.footer__company-address {
  margin-bottom: 0;
  font-size: 18px;

  @media (max-width: 850px) {
    text-align: center;
  }
}

.footer__center-box {
  @media (max-width: 850px) {
    margin-bottom: 25px;
  }
}

.footer__policy {
  @include reset-btn;
  font-size: 18px;
  font-weight: 300;
  text-decoration: underline;

  &:hover,
  &:focus {
    outline: none;
  }
}

.footer__contact-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media (max-width: 850px) {
    align-items: center;
  }
}

.footer__phone {
  font-size: 26px;
  color: black;
  &:hover, &:focus, &:active {
    color: black;
    text-decoration: underline;
  }
}
.footer__callback {
  @include reset-btn;
  font-size: 18px;
  font-weight: 300;
  text-decoration: underline;

  &:hover,
  &:focus {
    outline: none;
  }
}