.formats {
  padding-top: 217px;
  padding-bottom: 108px;

  @media (max-width: 991px) {
    padding-bottom: 80px;
  }

  @media (max-width: 767px) {
    padding-top: 177px;
    padding-bottom: 60px;
  }
}

.formats__title {
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 900;
  color: #51973a;
  margin-bottom: 47px;
  position: relative;

  @media (max-width: 575px) {
    font-size: 28px;
  }

  &::before {
    position: absolute;
    content: url('/src/img/formats-tree-left.png');
    top: -430px;
    left: -390px;
  }

  &::after {
    position: absolute;
    content: url('/src/img/formats-tree-right.png');
    top: 460px;
    right: -387px;
  }
}

.formats__btns-box {
  display: flex;
  position: relative;
  left: 53px;

  @media (max-width: 767px) {
    left: 0px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }

  @media (max-width: 575px) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
}

.formats__btn {
  @include reset-btn;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 18px;
  padding-left: 17px;
  padding-right: 18px;
  padding-bottom: 18px;
  display: flex;
  align-items: center;
  min-height: 50px;
  background-color: #e3e3e3;
  font-weight: 300;
  font-size: 20px;

  &:hover,
  &:focus {
    outline: none;
  }

  &:first-child {
    margin-right: 10px;

    @media (max-width: 575px) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  @media (max-width: 575px) {
    border-radius: 10px;
    @include max-width(340px);
    text-align: center;
    justify-content: center;
  }

  &_active {
    background-color: #95c23f;
    color: white;
    font-weight: 600;
  }
}

.formats__wrapper {
  border-radius: 10px;
  box-shadow: -2.2px 20.9px 30.1px 1.9px rgba(0, 0, 1, 0.28);
  background-image: linear-gradient(to top, #f7f7f7, #f8f8f8);
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 53px;
  padding-right: 53px;
  position: relative;
  min-height: 516px;

  @media (max-width: 575px) {
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
  }
}

.formats__wrapper-bg {
  width: calc(100% + 24px);
  height: calc(100% + 24px);
  position: absolute;
  z-index: -1;
  @include central-align;
  border-radius: 10px;
  background-color: #b3b3b3;
  opacity: 0.26;
}

.formats__content {
  display: flex;

  @media (max-width: 991px) {
    flex-direction: column;
  }
}

.formats__left-side {
  margin-right: 56px;
  @include max-width(511px);

  @media (max-width: 1200px) {
    margin-right: 28px;
    max-width: 431px;
  }

  @media (max-width: 991px) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }
}

.formats__large-img {
  width: 100%;
  display: block;
  margin-bottom: 32px;
}

.formats__img-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: 575px) {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.formats__small-img {
  width: 68px;
  height: 58px;
  cursor: pointer;
  border-bottom: 7px transparent solid;
  &_active {
    border-bottom: #95c23f 7px solid;
  }

  @media (max-width: 575px) {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
  }
}

.formats__stat-row {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 25px;
  padding-left: 55px;
  position: relative;

  &::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
  }

  &:nth-child(1)::before {
    content: url('/src/img/icons/formats/1.png');
  }
  &:nth-child(2)::before {
    content: url('/src/img/icons/formats/2.png');
  }
  &:nth-child(3)::before {
    content: url('/src/img/icons/formats/3.png');
  }
  &:nth-child(4)::before {
    content: url('/src/img/icons/formats/4.png');
  }
  &:nth-child(5)::before {
    content: url('/src/img/icons/formats/5.png');
  }
  &:nth-child(6)::before {
    content: url('/src/img/icons/formats/6.png');
  }

  b {
    font-weight: 500;
  }
}
